* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: #b4eafb;
  color: white;
  padding: 20px 0;
  p {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
  }
}
